* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body {
    background-image: url('women.webp');
  
  }
  
  .wrapper,
  .favorite-container {
    width: min(500px, 90%);
    position: absolute;
    transform: translate(-20%, -20%);
    top: 20%;
    left: 20%;
    padding: 5em 3em;
    box-shadow: 0 7cap 40px 0 rgba(1, 1, 9, 0.15);
    border-radius: 1em;
    

  }
  .container {
    text-align: center;
  }
  .container p {
    color: #f7f1f1;
    margin: 1em 0 1.5em 0;
  }
  .container h3 {
    color: #eee9e9;
  }
  .wrapper #btn,
  .favorite-container button {
    background-color: #f9f5f5;
    border: none;
    padding: 1em 2em;
    border-radius: 3em;
    margin-top: 4em;
  }
  .button-container {
    display: flex;
    justify-content: end;
    gap: 1em;
  }
  
  .button-container button {
    background-color: transparent;
    border: none;
    color: #ffffffdb;
    font-size: 1.2em;
  }
  
  .favorite-container h3 {
    color: #ffffff;
  }
  .favorite-container ul {
    list-style: none;
    color: #d6d6d6;
  }
  .favorite-container li {
    padding: 1em 0;
  }
  .active {
    color: red;
  }